html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  color: #333333;
  font-size: 16px;
  font-family: Arial;
}

a, input[type=button], button {
  color: #333333;
  font-size: 16px;
}

input[type=button], button {
  padding: 6px 20px;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.inline {
  width: auto !important;
  display: inline-block !important;
}

.button-wrapper {
  padding: 10px;
}

.button, input[type=button], button {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  padding: 8px 20px;
  border: 1px #ccc solid;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.button:hover, input[type=button]:hover, button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}

input[type=button], button, button.button {
  padding: 7px 20px;
}
