.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #d51875;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fe96c9), color-stop(0.05, #d51875), color-stop(1, #7b0a2e));
  background-image: -moz-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
  background-image: -o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
  padding: 0;
  color: #eee;
  font-size: 20px;
  text-align: center;


  a {
    color:#f3f3f3;
    text-decoration:none;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
  }


}

.footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
  background-image: -moz-linear-gradient(top, #999, #666 2%, #222);
  background-image: -o-linear-gradient(top, #999, #666 2%, #222);
  padding: 0;
  border-top: 1px solid #444;
}

#wrapper {
  position:absolute; z-index:1;
  top:45px;
  bottom:48px;
  left:0;
  width:100%;
  overflow:auto;
}